body {
  background-color: #303030;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  height: 380px;
}

.logo-m {
  width: 70px;
}

.navigation {
  height: 70px;
}

#page-public {
  height: auto;
  background-color: #fff;
}


#page-user {
  min-height: 400px;
  background-color: #fff;
  border-radius-
}

#page-user-fav {
  height: 400px;
}

.random-section {
  padding: 2em 1em;
  min-height: 300px;
  background-image: url(../img/bg_random.jpg);
  background-size: cover;
  background-position: center;
  color: #ccc;
}

.title {
  color: #d0b968;
}