body {
  background-color: #303030;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  background-image: url(../img/logo.png);
  height: 50px;
}

#page-public {
  height: 400px;
}


#page-user {
  height: 400px;
}

#page-user-fav {
  height: 400px;
}