* { box-sizing: border-box; }
html { height: 100%; }
body {
    position: relative;
    margin: 0;
    height: 100%;
    background: linear-gradient(#a75c9c, #639ac5);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
}

/* Pagina de Carga */
#loader {
    position: absolute;
    top:50%; left:50%;
    height:200px; width:100px;
    margin-top:-100px; margin-left:-50px;
}

#glass {
    position: relative;
    height: 100%;
    background: rgba(255,255,255,.1);
    border-radius: 0% 0% 15% 15%;
    border: 3px solid;
    border-top: 0;
    border-bottom: 20px solid;
    border-color: rgba(255,255,255,.7);
    overflow: hidden;
}
#drink {
    position: absolute;
    top:100%; right:0; bottom:0; left:0;
    background: linear-gradient(to bottom, orange, orangered);
    box-shadow: inset 0 2px 1px rgba(255,69,0,.2);
    opacity: .7;
}
#counter {
    position: relative;
    line-height: 200px;
    font-size: 22px;
    color: rgba(255,255,255,1);
}

#lemon {
    display: none;
    position: absolute;
    top:0; right:0;
    height:79px; width:79px;
    margin-top:-38px; margin-right:-38px;
    background: radial-gradient(#f7f3b6 10%, #d7d26c);
    border-radius: 50%;
    border: 4px solid #47582e;
    box-shadow: inset 0 0 0 2px #f7f3b6;
}
#straw {
    display: none;
    position: absolute;
    bottom:20px; right:30%;
    height:220px; width:6px;
    background: yellow;
    border-radius: 0 6px 0 0;
    transform: rotate(-18.5deg);
    transform-origin: left bottom;
    -webkit-transform: rotate(-18.5deg);
    -webkit-transform-origin: left bottom;
}
#straw:after {
    content: '';
    position: absolute;
    top:0; right:0;
    height:6px; width:80px;
    background: inherit;
    border-radius: 0 6px 0 0;
}

#cubes {
    position: absolute;
    top:0; right:0; bottom:0; left:0;
}
#cubes div {
    /*display: none;*/
    position: absolute;
    width:50px; height:50px;
    background: rgba(255,255,255,.3);
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(255,255,255,.6);
}
#cubes div:nth-child(1) {
    bottom:0;
}
#cubes div:nth-child(2) {
    bottom:45px; left:25px;
    transform: rotate(32deg);
    transform-origin: center bottom;
    -webkit-transform: rotate(32deg);
    -webkit-transform-origin: center bottom;
}
#cubes div:nth-child(3) {
    bottom:90px; left:20px;
    transform: rotate(-34deg);
    transform-origin: center bottom;
    -webkit-transform: rotate(-34deg);
    -webkit-transform-origin: center bottom;
}

#coaster {
    width: 130%; height: 4px;
    margin-left: -15%;
    background: #fff;
    border-radius: 2px;
}

footer {
    position: absolute;
    left:0; top:50%; right:0;
    margin-top: 120px;
    color: #fff;
}

/* */

#page_0 {
  width: 100%;
  height: 100vh;
  padding-top: 40vh;
  background: -moz-linear-gradient(#a75c9c, #639ac5)
  background: -webkit-linear-gradient(#a75c9c, #639ac5);
  background: -o-linear-gradient(#a75c9c, #639ac5);
  background: linear-gradient(#a75c9c, #639ac5);
  color: white;
}

#page_1 {
  width: 100%;
  height: 100vh;
  padding-top: 4vh;
  background: -moz-linear-gradient(#a75c9c, #639ac5)
  background: -webkit-linear-gradient(#a75c9c, #639ac5);
  background: -o-linear-gradient(#a75c9c, #639ac5);
  background: linear-gradient(#a75c9c, #639ac5);
  color: white;
}


#page_2 {
  width: 100%;
  min-height: 100vh;
  padding-top: 4vh;
  background: -moz-linear-gradient(#a75c9c, #639ac5)
  background: -webkit-linear-gradient(#a75c9c, #639ac5);
  background: -o-linear-gradient(#a75c9c, #639ac5);
  background: linear-gradient(#a75c9c, #639ac5);
  color: white;
}
.drinks-home {
  width: 100%;
  height: 240px;
  background-image: url('../img/drinks-home.jpg');
  background-repeat: repeat-x;
}

.logo {
  padding: 1em 0;
}

.buttons-home {
  padding: 1em 0;
}

.btn-register, .btn-login {
  background-color: #fff;
  border: 1px solid #8f72ab;
}


.random-section {
  padding: 1em;
  background-image: url(../img/bg_random.jpg);
  background-size: cover;
  background-position: center;
  color: #ccc;
}

.title {
  padding: 0;
  margin: 0;
  color: #d0b968;
}

.diviser {
  border-top: 2px solid #1c1815;
  padding-top: .8em;
  margin-top: .8em;
}

.padding-0 {
  padding: 0;
}

#filter {
  padding: 0;
}

#filter li {
  list-style-type: none;
}